@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
  }
  
  .loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
  }
  
  .loader:before,
  .loader:after {
    content: '';
    border: 1em solid #ffa500;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left:25px;
    animation: loader 2s linear infinite;
    opacity: 0;
  }
  
  .loader:before {
    animation-delay: 0.3s;
  }
  
span{
    color: #ffa500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  text-decoration: none;
}


/* Navigation Section  Starting */
header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    height: 70px;
    border-bottom: 3px solid gold;
  }
  
  .logo img {
    position: absolute;
    left: 150px;
    top: 20px;
  }
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #09c372;
    width: 50px;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
  
    padding: 10px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: red;
    border-radius: 5px;
  }
  
  #login,
  #signup {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  #login {
    border: 1px solid #498afb;
  }
  
  #signup {
    border: 1px solid #ff3860;
  }
  
  #signup a {
    color: #ff3860;
  }
  
  #login a {
    color: #498afb;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    background-color: gold;
    justify-content: flex-start;
    transition: 2s ease-in;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
  }

  /*Navigation Section Ending */

  
/*Marquee Section Starting */
.mark {
    background: black;
    width: 100%;
    overflow: hidden;
    height: 70px;
    color: red;
    position: relative;
    top: 67px;
  }
  
  .top {
    text-align: center;
    width: 30%;
    height: 70px;
    position: absolute;
    top: 0;
    background-color: #ffa500;
  }
  
  .top p {
    margin-left: 200px;
    padding-top: 25px;
    font-weight: 700;
    color: white;
  }
  
  .marq {
    width: 69.2%;
    left: 30%;
    top: 15px;
    position: relative;
  }
  
  .conq p {
    display: inline-flex;
    margin-left: 40px;
    color: aliceblue;
  }
  
  .p {
    padding: 10px;
    border-radius: 15px;
    background-color: #ff3860;
  }
  
  .p1 {
    padding: 10px;
    border-radius: 15px;
    background-color: violet;
  }
  
  .p2 {
    padding: 10px;
    border-radius: 15px;
    background-color: #09c372;
  }
  
  /* Marquee Section Ending */

  /* First Image Section Starting */
  .container {
    width: 100%;
    height:600px;
    position: relative;
    overflow: hidden;
    top:-135px;
  }
  
  .container img {
    width: 100%;
    height:600px;
    position: relative;
    object-fit: cover;
  }
  
  .para {
    width: 50%;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 5%;
  }
  
  .content h1 {
    line-height: 50px;
    font-size: 3rem;
    color: white;
  }
  
  .content p {
    margin-top: 25px;
    margin-left: 10px;
    color: whitesmoke;
    /*  font-size: clamp(1.5rem,5vw,1rem);*/
  }
  
  
  .container {
    opacity: 1;
    padding-top: 0px;
    transform: translateY(200px);
    transition: opacity 5s;
  }
  
  .container.content {
    opacity: 5;
    transform: translateY(0);
    transform: 5s;
  }
  
  
  .container p {
    opacity: 1;
    line-height: 45px;
    transform: translateY(10);
    transform: 5s;
  }

  .para {
    animation: slide 5s;
  }
  
  .content2 {
    animation: slides 5s;
  }
  /*First Section Ending */
  


/* Game section Starting */

/*
.car .pic h2 {
  position: relative;
  top: 25px;
  z-index: 0;
  color: white;
  font-weight: 100;
  background-color:#9dc6f4;
  width: fit-content;
  padding: 10px;
  left: 125px;
  border-radius: 50%;
}
*/
.car {

  position: relative;
  top:100px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Play", sans-serif;
  font-weight: 400;
  top:65.5px;
  background-image: url("../src/gamespic/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-style: normal;
  height: 220vh;
  gap:300px;
}

.car {
  opacity: 0;
  padding-top: 0px;
  transform: translateY(300px);
  transition: opacity 3s;
}

.car.show {
  opacity: 1;
  transform: translateY(0);
  transform: 2s;
}

/* Game one Starting */

.card {
  width: 510px;
  height: 450px;
  position: relative;
  left: 150px;
  top:50px;
  background-image: url("../src/gamespic/watchdog.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  border-radius:5%;
}

.GameIcon {
  transform: translate(-80px,-50px);
  position: absolute;
  width: 20 0px;
  height: 200px;
  transition: 0.3s;
}

.GameImg {
  width: 100%;
  height: 100%;
}

.Gfooter {
  width: 100%;
  height: 0%;
  background-color: #262626;
  border-radius: 10px;
  transition: all 0.3s;
}

.Name {
  transform: translate(10px,200px);
  position: absolute;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  color:#ffa500;
}

.SmallIcon {
  width: 0px;
  height: 0px;
  transform: translate(10px,10px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff5858;
  transition: 0.2s;
}

.SmallIcon img{
width:80px;
height:80px;
}

.Descripion {
  padding: 10px;
  position: absolute;
  transform: translate(0px,20px);
  opacity: 0%;
  color: #ff5858;
  font-weight: bold;
  font-size: 15px;
  
}

.Descripion a{
  color: #ebd300;
  text-decoration: none;

}
.StarIcon {
  transform: translate(-0px,25px);
  width: 20px;
  fill: #ebd300;
}

.Stars {
  position: absolute;
  color:#ebd300;
  font-size: 15px;
  font-weight: bold;
  transform: translate(80px,-70px);
}

.GameImg:hover .Descripion {
  opacity: 100%;
}

.GameImg:hover .Gfooter {
  width: 100%;
  height: 100%;
}

.GameImg:hover .SmallIcon {
  width: 60px;
  height: 60px;
}

.GameImg:hover .Name {
  transform: translate(75px,-435px);
}

.GameImg:hover .GameIcon {
  transform: translate(400px,-160px);
}

/* Game one  ending */



/* Game Two Starting */

.card1 {
  width: 510px;
  height: 450px;
  position: relative;
  left: 50px;
  top:50px;
  background-image: url("../src/gamespic/Doom.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  border-radius:5%;
}

.GameIcon {
  transform: translate(-80px,-50px);
  position: absolute;
  width: 200px;
  height: 200px;
  transition: 0.3s;
}

.GameImg {
  width: 100%;
  height: 100%;
}

.Gfooter {
  width: 100%;
  height: 0%;
  background-color: #262626;
  border-radius: 10px;
  transition: all 0.3s;
}

.Name {
  transform: translate(10px,200px);
  position: absolute;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  color:#ffa500;
  display: none;
}

.SmallIcon {
  width: 0px;
  height: 0px;
  transform: translate(10px,10px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff5858;
  transition: 0.2s;
}

.SmallIcon img{
width:60px;
height: 60px;
}

.Descripion {
  padding: 10px;
  position: absolute;
  transform: translate(0px,20px);
  opacity: 0%;
  color: #ff5858;
  font-weight: bold;
  font-size: 15px;
  
}

.Descripion a{
  color: #ebd300;
  text-decoration: none;

}
.StarIcon {
  transform: translate(-0px,25px);
  width: 20px;
  fill: #ebd300;
}

.Stars {
  position: absolute;
  color:#ff3860;
  font-size: 15px;
  font-weight: bold;
  transform: translate(80px,-70px);
}

.GameImg:hover .Descripion {
  opacity: 100%;
}

.GameImg:hover .Gfooter {
  width: 100%;
  height: 100%;
}

.GameImg:hover .SmallIcon {
  width: 60px;
  height: 60px;
}

.GameImg:hover .Name {
  display: block;
  transform: translate(75px,-435px);
}

.GameImg:hover .GameIcon {
  transform: translate(400px,-160px);
}


/* Game two Ending */


/* Game Three Starting */


.card2 {
  width: 510px;
  height: 450px;
  position: relative;
  left:150px;
  overflow: hidden;
  top:-200px;
  background-image: url("../src/gamespic/Avatar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -80px;
  border-radius:5%;
}

.GameIcon {
  transform: translate(-80px,-50px);
  position: absolute;
  width: 200px;
  height: 200px;
  transition: 0.3s;
}

.GameImg {
  width: 100%;
  height: 100%;
}

.Gfooter {
  width: 100%;
  height: 0%;
  background-color: #262626;
  border-radius: 10px;
  transition: all 0.3s;
}

.Name {
  transform: translate(10px,200px);
  position: absolute;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  color:#ffa500;
  display: none;
}

.SmallIcon {
  width: 0px;
  height: 0px;
  transform: translate(10px,10px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff5858;
  transition: 0.2s;
}

.SmallIcon img{
width:60px;
height: 60px;
}

.Descripion {
  padding: 10px;
  position: absolute;
  transform: translate(0px,20px);
  opacity: 0%;
  color: #ff5858;
  font-weight: bold;
  font-size: 15px;
  
}

.Descripion a{
  color: #ebd300;
  text-decoration: none;

}
.StarIcon {
  transform: translate(-0px,25px);
  width: 20px;
  fill: #ebd300;
}

.Stars {
  position: absolute;
  color:#ff3860;
  font-size: 15px;
  font-weight: bold;
  transform: translate(80px,-70px);
}

.GameImg:hover .Descripion {
  opacity: 100%;
}

.GameImg:hover .Gfooter {
  width: 100%;
  height: 100%;
}

.GameImg:hover .SmallIcon {
  width: 60px;
  height: 60px;
}

.GameImg:hover .Name {
  display: block;
  transform: translate(75px,-435px);
}

.GameImg:hover .GameIcon {
  transform: translate(400px,-160px);
}

/* Game Three Ending */



/* Game Four Starting */
.card3 {
  width: 510px;
  height: 450px;
  position: relative;
  left:50px;
  top:-200px;
  background-image: url("../src/gamespic/prince\ of\ persia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:-55px;
  overflow: hidden;
  border-radius:5%;
}

.GameIcon {
  transform: translate(-80px,-50px);
  position: absolute;
  width: 200px;
  height: 200px;
  transition: 0.3s;
}

.GameImg {
  width: 100%;
  height: 100%;
}

.Gfooter {
  width: 100%;
  height: 0%;
  background-color: #262626;
  border-radius: 10px;
  transition: all 0.3s;
}

.Name {
  transform: translate(10px,200px);
  position: absolute;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  color:#ffa500;
  display: none;
}

.SmallIcon {
  width: 0px;
  height: 0px;
  transform: translate(10px,10px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff5858;
  transition: 0.2s;
}

.SmallIcon img{
width:60px;
height: 60px;
}

.Descripion {
  padding: 10px;
  text-align: justify;
  position: absolute;
  transform: translate(0px,20px);
  opacity: 0%;
  color: #ff5858;
  font-weight: bold;
  font-size: 15px;
  
}

.Descripion a{
  color: #ebd300;
  text-decoration: none;

}
.StarIcon {
  transform: translate(-0px,25px);
  width: 20px;
  fill: #ebd300;
}

.Stars {
  position: absolute;
  color:#ff3860;
  font-size: 15px;
  font-weight: bold;
  transform: translate(80px,-70px);
}

.GameImg:hover .Descripion {
  opacity: 100%;
}

.GameImg:hover .Gfooter {
  width: 100%;
  height: 100%;
}

.GameImg:hover .SmallIcon {
  width: 60px;
  height: 60px;
}

.GameImg:hover .Name {
  display: block;
  transform: translate(75px,-435px);
}

.GameImg:hover .GameIcon {
  transform: translate(400px,-160px);
}

/* Game Four Ending */

/* Game Five Starting */

.card4 {
  width: 510px;
  height: 450px;
  position: relative;
  left:150px;
  top:-450px;
  background-image: url("../src/gamespic/spiderman.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -85px;
  overflow: hidden;
  border-radius:5%;
}

.GameIcon {
  transform: translate(-80px,-50px);
  position: absolute;
  width: 200px;
  height: 200px;
  transition: 0.3s;
}

.GameImg {
  width: 100%;
  height: 100%;
}

.Gfooter {
  width: 100%;
  height: 0%;
  background-color: #262626;
  border-radius: 10px;
  transition: all 0.3s;
}

.Name {
  transform: translate(10px,200px);
  position: absolute;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  color:#ffa500;
  display: none;
}

.SmallIcon {
  width: 0px;
  height: 0px;
  transform: translate(10px,10px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff5858;
  transition: 0.2s;
}

.SmallIcon img{
width:60px;
height: 60px;
}

.Descripion {
  padding: 10px;
  position: absolute;
  transform: translate(0px,20px);
  opacity: 0%;
  color: #ff5858;
  font-weight: bold;
  font-size: 15px;
  
}

.Descripion a{
  color: #ebd300;
  text-decoration: none;

}
.StarIcon {
  transform: translate(-0px,25px);
  width: 20px;
  fill: #ebd300;
}

.Stars {
  position: absolute;
  color:#ff3860;
  font-size: 15px;
  font-weight: bold;
  transform: translate(80px,-70px);
}

.GameImg:hover .Descripion {
  opacity: 100%;
}

.GameImg:hover .Gfooter {
  width: 100%;
  height: 100%;
}

.GameImg:hover .SmallIcon {
  width: 60px;
  height: 60px;
}

.GameImg:hover .Name {
  display: block;
  transform: translate(75px,-435px);
}

.GameImg:hover .GameIcon {
  transform: translate(400px,-160px);
}

/* Game Five Ending */


/* Game Six Starting */
.card5 {
  width: 510px;
  height: 450px;
  position: relative;
  left:50px;
  top:-450px;
  background-image: url("../src/gamespic/cyberpunks.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:-55px;
  overflow: hidden;
  border-radius:5%;
}

.GameIcon {
  transform: translate(-80px,-50px);
  position: absolute;
  width: 200px;
  height: 200px;
  transition: 0.3s;
}

.GameImg {
  width: 100%;
  height: 100%;
}

.Gfooter {
  width: 100%;
  height: 0%;
  background-color: #262626;
  border-radius: 10px;
  transition: all 0.3s;
}

.Name {
  transform: translate(10px,200px);
  position: absolute;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  color:#ffa500;
  display: none;
}

.SmallIcon {
  width: 0px;
  height: 0px;
  transform: translate(10px,10px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff5858;
  transition: 0.2s;
}

.SmallIcon img{
width:60px;
height: 60px;
}

.Descripion {
  padding: 10px;
  position: absolute;
  transform: translate(0px,20px);
  opacity: 0%;
  color: #ff5858;
  font-weight: bold;
  font-size: 15px;
  
}

.Descripion a{
  color: #ebd300;
  text-decoration: none;

}
.StarIcon {
  transform: translate(-0px,25px);
  width: 20px;
  fill: #ebd300;
}

.Stars {
  position: absolute;
  color:#ff3860;
  font-size: 15px;
  font-weight: bold;
  transform: translate(80px,-70px);
}

.GameImg:hover .Descripion {
  opacity: 100%;
}

.GameImg:hover .Gfooter {
  width: 100%;
  height: 100%;
}

.GameImg:hover .SmallIcon {
  width: 60px;
  height: 60px;
}

.GameImg:hover .Name {
  display: block;
  transform: translate(75px,-435px);
}

.GameImg:hover .GameIcon {
  transform: translate(400px,-160px);
}


/* Game Six Ending */

/* Game Section Ending */


/* Review Section Starting */

.las {
  width: 100%;
  height: 870px;
  position: relative;
}

.gm img {
  width: 100%;
  position: relative;
  top:65px;
  z-index: -1;
  object-fit: fill;
  height: 650px;
}

.wor h1 {
  position: relative;
  background-color: #ff3860;
  text-align: center;
  left: 45%;
  color: white;
  font-size: medium;
  padding: 5px;
  top: -550px;
  width: 80px;
}


.wor p {
  position: relative;
  text-align: center;
  right: 25px;
  top: -520px;
  font-weight: 500;
  color:#fff;
  font-size: xx-large;
  padding: 5px;
}

.cars .pic h2 {
  position: relative;
  top: 25px;
  z-index: 0;
  color: white;
  font-weight: 100;
  background-color: #ffa500;
  width: fit-content;
  padding: 10px;
  left: 65px;
  border-radius: 50%;
}

.cars {

  position: relative;
  top: -512px;
  display: flex;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  gap: 20px;
}

.cars {
  opacity: 0;
  padding-top: 0px;
  transform: translateY(300px);
  transition: opacity 3s;
}

.cars.show {
  opacity: 1;
  transform: translateY(0);
  transform: 2s;
}

.cars .pic img {
  position: relative;
  left: 25px;
  height: 450px;
  z-index: -1;
}

#h3{
  display: none;
}

.con {
  width: 345px;
  left: 25px;
  height: 100%;
  position: absolute;
  top: -65px;
  z-index: 1;
  opacity: 0;
  background-color: transparent;
}

.con>h3 {
  position: absolute;
  top: 450px;
}

.con p {
  text-align: justify;
  margin-left: 0px;
  position: absolute;
  top: 480px;
}

.con:hover {
  cursor: pointer;
  background-color: transparent;
  transform: translateY(120px);
  opacity: 1;
  z-index: 1;
  transition: 1s ease-out;
}

/*2nd one Starting*/



.cars .pic2 img {
  position: relative;
  left: 25px;
  height: 450px;
  z-index: -1;
}

.cars .pic2 h2 {
  position: relative;
  top: 25px;
  z-index: 0;
  color: white;
  font-weight: 100;
  background-color: purple;
  width: fit-content;
  padding: 10px;
  left: 65px;
  border-radius: 50%;
}


.con1 {
  width: 345px;
  left: 391px;
  height: 100%;
  position: absolute;
  top: -70px;
  z-index: 1;
  opacity: 0;
  background-color: transparent;
}

.con1>h3 {
  position: absolute;
  top: 450px;
  font-weight: 700;
}

.con1 p {
  text-align: justify;
  margin-left: 0px;
  position: absolute;
  top: 480px;
}

.con1:hover {
  cursor: pointer;
  background-color: transparent;
  transform: translateY(120px);
  opacity: 1;
  z-index: 1;
  transition: 1s ease-out;
}

/* 2nd One Ending */

/* 3rd One Startin */


.cars .pic1 img {
  position: relative;
  left: 25px;
  height: 450px;
  z-index: -1;
}

.cars .pic1 h2 {
  position: relative;
  top: 25px;
  z-index: 0;
  color: white;
  font-weight: 100;
  background-color: #09c372;
  width: fit-content;
  padding: 10px;
  left: 65px;
  border-radius: 50%;
}


.con2 {
  width: 345px;
  left: 757px;
  height: 100%;
  position: absolute;
  top: -70px;
  z-index: 1;
  opacity: 0;
  background-color: transparent;
}


.con2>h3 {
  position: absolute;
  top: 450px;
}

.con2 p {
  text-align: justify;
  margin-left: 0px;
  position: absolute;
  top: 480px;
}

.con2:hover {
  cursor: pointer;
  background-color: transparent;
  transform: translateY(120px);
  opacity: 1;
  z-index: 1;
  transition: 1s ease-out;
}

/* 3rd One Ending */

/* 4th One Starting */

.cars .pic3 img {
  position: relative;
  left: 25px;
  height: 450px;
  z-index: -1;
}

.cars .pic3 h2 {
  position: relative;
  top: 25px;
  z-index: 0;
  color: white;
  font-weight: 100;
  background-color: #ff3860;
  width: fit-content;
  padding: 10px;
  left: 65px;
  border-radius: 50%;
}


.con3 {
  width: 345px;
  left: 1122px;
  height: 100%;
  position: absolute;
  top: -70px;
  z-index: 1;
  opacity: 0;
  background-color: transparent;
}


.con3>h3 {
  position: absolute;
  top: 450px;
}

.con3 p {
  text-align: justify;
  margin-left: 0px;
  position: absolute;
  top: 480px;
}

.con3:hover {
  cursor: pointer;
  background-color: transparent;
  transform: translateY(120px);
  opacity: 1;
  z-index: 1;
  transition: 1s ease-out;
}

/* 4th One Ending */
/*Review Section Ending */


/* Footer Section  Starting*/


.last {
  height: 560px;
}

.footer {
  position: relative;
  top:50px;
  height: 550px;
  overflow: hidden;
}

.footer img {
  width: 100%;
  height: 550px;

}

.ft {
  position: absolute;
  top: 3150px;
  left: 50px;
  bottom: 0;
}

.pis {
  z-index: 0;
  position: relative;
  height: 450px;
  left: 465px;
  width: 845px;
  display: flex;
  gap: 20px;
  top: -450px;
}

.pi1 {
  flex-basis: 50%;
  background: rgb(40, 39, 39);
  border: 5px solid grey;
}

.pi2 {
  flex-basis: 50%;
  background: rgb(40, 39, 39);
  border: 5px solid gray;
}

.pi1 h2,
.pi2 h2 {
  margin: 15px 25px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffa500;
}

.sp1 {
  width: 100%;
  display: inline-flex;
  margin: 15px;
  height: 100px;
}

.sp1 img {
  width: 25%;
  border-radius: 100% 0% 99% 1% / 30% 64% 36% 70%;
}

.sp1 p {
  padding: 25px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.911);
}

.sp1 h5 {
  margin-top: 90px;
  position: relative;
  text-align: start;
  width: 250px;
}

/* Footer Section Ending */


footer {
  width: 100%;
  bottom: 250px;
  height: 40px;
  top:15px;
  position: relative;
}

footer p {
  font-size: large;
  text-align: center;
  padding-top: 25px;
}




/* Animation Effect Starting */
@keyframes loader {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }


  
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-190%);
    }
  
    50% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slides {
    0% {
      opacity: 0;
      transform: translateX(-150%);
    }
  
    50% {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* Animation Effect Ending */

  @media only Screen and (max-width:600px) {
   
  /* Navigation section Starting */

  header {
    background-color: black;
  }

  header nav {
    display: none;
  }

  .logo img {
    width: 39%;
    top: 20px;
    left: 10px;
  }

  .hr {
    display: none;
  }

  #hr {
    display: none;
  }

  #hamburger-icon {
    display: block;
    z-index: 1;
    margin-right: -10px;
  }

  .mobile-menu {
    top: 70px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }

  .mobile-menu li {
    margin-bottom: 10px;
  }

  .mobile-menu li a {
    color: black;
  }

  .container {
    width:113.5%;
    height: 600px;
  }

  .container img {
    width: 113%;
    background-size: contain;
    height:600px;

  }

  .content {
    width: 100vw;
    height: 50vh;
    position: relative;
    left: -70px;
    margin: 5px;
  }

  .para {
    padding: 70px;
    position: absolute;
    top: -5%;
  }

  .content h1 {
    line-height: 50px;
    position: relative;
    left: -25px;
    font-size: xx-large;
    color: white;
    padding-left: 25px;
  }

  .content p {
    margin-top: 25px;
    line-height: 35px;
    position: relative;
    left: -4px;
    color: whitesmoke;
  }

  /* Navigation Section Ending */

  /*Marquee Section */
  .top {
    display: none;
  }

  .mark {
    width: 113.5%;
    position: relative;
  }

  .marq {
    top: 15px;
    left: -10px;
    width: 100%;
  }

  /*Marquee Section */

  /* Game Section */
 .car {
  display: block;
  width: 100%;
  background-image: none;
  background-size: cover;
  height: 450vh;
  background-repeat: no-repeat;
 } 
 .card{
  width:100%;
  height: 520px;
  position: relative;
  left:25px;
  background-position-x: -150px;
 }


 .GameImg:hover .GameIcon {
  display: none;
}

.GameImg:hover .Name {
  display: block;
  transform: translate(75px,-510px);
}


 .card1{ 
  width:100%;
  height: 520px;
  top: 100px;
  background-position-x: -65px;
  position: relative;
  left: 25px;
 }

 .card2{
  width:100%;
  height: 520px;
  top: 150px;
  background-position-x: -65px;
  position: relative;
  left: 25px; 
  background-position-x:-185px;
 }

 .card3{
  width:100%;
  height: 520px;
  top:200px;
  background-position-x:-55px;
  position: relative;
  left: 25px;
 
 }

 .card4{
  width:100%;
  height: 520px;
  top:250px;
  background-position-x: -65px;
  position: relative;
  left: 25px;
 
 }

 .card5{
  width:100%;
  height: 520px;
  object-fit: fill;
  top:300px;
  background-position-y: top;
  position: relative;
  left: 25px;
 
 }

 
  /*Review Section Starting */
  .gm {
    position: relative;
    top: 150px;
  }

  .gm img {
    display: none;
  }

  .wor {
    position: relative;
    top: 550px;
  }

  .wor p {
    position: relative;
    left: 25px;
    color: black;
  }

  .cars {
    display: inline-block;
    position: relative;
    top: 190px;
    left: 45px;
    width: 80%;
    margin-bottom:55px;
    height: 280%;
    overflow: hidden;
  }

  
#h3{
  display: block;
  text-align: center;
}

.con,.con1,.con2,.con3{
  display: none;
}
  

.last {
  position: relative;
  display: block;
  width: 113%;
  top: 1625px;
  height: 100%;
  background-image: radial-gradient(circle, #e89d23, #e3714b, #c15566, #8c496f, #544060, #4c4b65, #4b5464, #535a60, #798185, #a3a9ab, #cfd3d4, #fdffff);
  left:1px;
}

.footer img {
  display: none;
}

.ft {
  display: none;
}

.pi1,
.pi2 {
  display: block;
}


.pis {
  position: relative;
  width: 100vw;
  display: block;
  border: 5px solid grey;
  left:25px;
}

.pi1 {
  position: relative;
  width: 100%;
  
  text-align:center;
}

.pi1 h5,
.pi2 h5 {
  display: none;
}

.pi2 {
  
  text-align:justify;
  position: relative;
  width: 100%;
  top: 50px;
}

footer{
  position: relative;
  top:1680px;
  height:70px;
  width: 113.5%;
}

  }